* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color:
}

input {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a {
	text-decoration: none;
	color: #007aff;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

img {
	width: 100%;
	outline-width: 0px;
}

.hg10 {
	height: 10px;
	background: #F5F5F5;
	width: 100%;
}

.login-wrap {
	padding-top: 44px;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

.login-wrap .content {
	margin-top: 20px;
	position: relative;
	padding: 0;
	border: 0;
	background-color: #fff;
}

.login-wrap .content::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}

.login-input-row {
	height: 40px;
	position: relative;
	overflow: hidden;
}

.login-input-row::after {
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #ccc;
	height: 1px;
	left: 15px;
	right: 0;
	content: "";
	transform: rotateY(.5);
	-webkit-transform: rotateY(.5);
	-moz-transform: rotateY(.5);
	background: #c8c7cc;
}

.login-input-row label {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.1;
	float: left;
	width: 20%;
	padding: 10px 15px;
	font-weight: normal;
}

.login-input-row .rd_1 {
	width: 80%;
	float: left;
}

.btn_wrap {
	margin: 25px 10px 10px 10px;
}

.btn_wrap::before {
	clear: both;
	content: "";
	display: block;
}

.btn_wrap .btn-s2 {
	width: 100%;
	margin-bottom: 10px;
}

.btn_wrap .link-area {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.new-content,
.main-wrap {
	padding: 0 .8rem;
}

.new-wrap {
	width: 100%;
}

.new-wrap h3 {
	background: url(../image/newIcon.png) no-repeat left center;
	text-indent: 10%;
	background-size: 7%;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 1px solid #eee;
	font-size: 1rem;
}

.new-wrap .more {
	color: #999;
	font-size: .8rem;
}

.new-wrap .new-list li p {
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.new-wrap .new-list li {
	border-bottom: 1px solid #eee;
	padding: .3rem 0;
}

.new-wrap .new-list li a,
.main-wrap .book-list li a {
	color: #999;
	font-size: 0.8rem;
}

.main-wrap h3 {
	background: url(../image/book.png) no-repeat left center;
	background-size: 7%;
}

.main-wrap .book-list li {
	padding: .5rem 0;
	border-bottom: 1px solid #eee;
}

.main-wrap .book-list li img {
	width: 45%;
	float: left;
}

.main-wrap .book-list li p {
	float: left;
	margin-left: 10px;
}

.main-wrap .book-list li::after {
	clear: both;
	display: block;
	content: "";
}

.main-wrap .book-list li .name {
	color: #000;
	font-size: .8rem;
	font-weight: bold;
	width: -moz-calc(55%- 10px);
	width: -webkit-calc(55% - 10px);
	width: calc(55% - 10px);
}

.main-wrap .book-list li .intro {
	height: 4rem;
	overflow: hidden;
	width: 50%;
	position: relative;
}

.main-wrap .book-list li .intro::after {
	content: "....";
	display: block;
	position: absolute;
	bottom: 0;
	right: -4px;
	padding: 0 0 4px 10px;
}

.main-wrap .book-list li .intro:after {
	content: "....";
	display: block;
	position: absolute;
	bottom: 0;
	right: -4px;
	padding: 0 0 4px 10px;
}

.main-wrap .book-list li .book_time {
	display: block;
}

.detail-content header,
.new-lists .header header,
.resgiter .header header {
	height: 40px;
	line-height: 40px;
	background: #930000;
	width: 100%;
}

.detail-content header h2,
.new-lists .header header h2,
.resgiter header h2 {
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	width: 140px;
	text-align: center;
}

.detail-content .back,
.new-lists .header .back,
.resgiter .header .back {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	background: url(../image/back_normal.png) left center no-repeat;
	background-size: 75%;
}

.detail-content .main-title {
	margin-top: 0.5rem;
	width: 100%;
	text-align: center;
}

.detail-content .main-title p {
	font-size: 0.8rem;
	color: red;
	width: 100%;
	text-align: right;
	padding-right: 30px;
}

.detail-content .main-title .time {
	margin-left: 10px;
}

.detail-content .main-contet,
.detail-content .new-wrapper ul {
	margin: 0.5rem;
}

.detail-content .main-contet p {
	font-size: 0.8rem;
	text-align: justify;
	color: #555;
	text-indent: 20px;
}

.detail-content .new-wrapper h3 {
	background: #f4f4f4 url(../image/note.png) 1% center no-repeat;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-indent: 8%;
	background-size: 5%;
}

.detail-content .new-wrapper p {
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.detail-content .new-wrapper li a {
	color: #666;
	font-size: 0.8rem;
}

.detail-content .new-wrapper li {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #EEE;
}

.new-lists .list_wrapper li {
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 0.5rem;
}

.new-lists .list_wrapper li::after {
	clear: both;
	display: block;
	content: '';
}

.new-lists .list_wrapper .new-img {
	width: 30%;
	margin-right: 5px;
}

.new-lists .list_wrapper .new-title {
	width: 68%;
	float: left;
	height: 4rem;
	overflow: hidden;
	color: #666;
	font-size: .9rem;
	text-align: justify;
}

.new-lists .list_wrapper .new-time {
	position: absolute;
	bottom: 10px;
	right: 0;
	display: block;
}

.new-lists .serach-wrap {
	padding: 0 .5rem;
}

.new-lists .serach-wrap .serach-mid {
	border: 2px solid red;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	margin-top: 10px;
}

.new-lists .serach-wrap .serach-mid .icon {
	width: 40px;
	height: 40px;
	background: url(../image/search.png) 50% center no-repeat;
	display: block;
	background-size: 60%;
}

.new-lists .serach-wrap .serach-mid .search-name {
	width: 80%;
	float: left;
	padding: .5rem 0;
	height: 35px;
	line-height: 35px;
}

.resgiter .com_tb_wrap {
	padding: 4px;
	width: 100%;
	overflow: hidden;
	height: 3rem;
	border-bottom: 1px solid #EEE;
}

.resgiter .com_tb_wrap label {
	width: 90px;
	float: left;
	padding: 7px 10px;
}

.resgiter .com_tb_wrap input {
	width: -moz-calc(100%- 140px);
	width: -webkit-calc(100% - 140px);
	width: calc(100% - 140px);
	float: left;
}

.resgiter .btn-wrap {
	margin-top: 20px;
	padding: 10px;
	width: 100%;
}

.resgiter .btn-wrap .btn-s3 {
	width: 90%;
	background: #930000;
	margin: 0 auto;
	border-color: #930000;
	box-shadow: 0 0 4px 0px #000;
	display: block;
}

.resgiter .user-num input {
	width: 36%;
	float: left;
}

.resgiter .user-num button {
	width: 35%;
	float: right;
	display: block;
	min-height: 35px;
	line-height: 35px;
	max-height:40px;
}