<div class="new-wrapper">
	<div class="new-wrap">
		<div class="banner"><img ng-src="{{banner}}"></div>
		<div class="new-content">
			<h3>新闻摘要<a href="javascript:void(0)" class="more fr">更多></a></h3>
			<div class="new-list">
				<ul ng-repeat="new in news">
					<li><a><span class="fr">{{new.meta.date_create}}</span><p>{{new.meta.title}}</p></a></li>
				</ul>
			</div>
		</div>
		<div class="hg10"></div>
		<div class="main-wrap">
			<h3>优秀名著(推荐)<a href="javascript:void(0)" class="more fr">更多></a></h3>
			<div class="book-list">
				<ul ng-repeat="book in books">
					<li>
						<a href="javascript:void(0)">
							<img ng-src="image/{{book.lists.image}}">
							<p class="name">{{book.lists.author}}<span class="book_time fr">{{book.lists.time}}</span></p>
							<p class="intro">{{book.lists.intro}}</p>
							<p><span>{{ book.lists.like}}</span><span>{{book.lists.dislike}}</span></p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>