<div class="new-lists">
	<div class="header">
		<header>
			<a href="javascript:void(0)" class="back" ng-click="goToBack()"></a>
			<h2>新闻列表</h2></header>
	</div>
	<div class="serach-wrap">
		<label class="serach-mid">
			<i class="icon fl"></i>
			<input class="search-name fl" type="text" value="" placeholder="请输入您要搜索的内容" />
			<button class="btn-s3">搜索</button>
		</label>
	</div>
	<div class="list_wrapper">
		<ul >
			<li ng-repeat="new in news">
				<a href="javasript:void(0)">
					<p class="new-img fl"><img ng-src="{{new.image}}" /></p>
					<p class="new-title">{{new.title}}<span class="new-time">{{new.time}}</span></p>
				</a>
			</li>
		</ul>
	</div>
</div>